.logout-button {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  background-color: rgb(220,53,69); /* Red background for logout */
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 10px;
  margin-left: 10px;
}

.logout-button:hover {
  background-color: rgb(220,53,69); /* Darker red on hover */
}

.logout-icon {
  margin-right: 8px; /* Space between icon and text */
  font-size: 20px;
}
