/*CSS Reset*/
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body
{
  overflow-x: hidden;
  overflow-y: auto;
}
.cardHighlight
{
  min-height: 100%;
}
.main-banner
{
  background: rgba(59, 55, 0, 0.8) no-repeat center center;
  background-size: cover;
  height: 400px;
  background-blend-mode: multiply;
}